@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@page {
    size: A4;
    margin-top: 1cm;
    margin-bottom: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
}

:root {
    --side-bar-size: 12%;
    --color-outline: #1f57b3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    font-weight: 400;
    width: 714px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    background: #FFFFFF;
}

/* Title of the resume */
h1 {
    font-size: 55px;
    color: #757575;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: normal;
}

/* Titles of categories */
h2 {
    color: var(--color-outline);
}

/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right: 2%;
    /* width: calc(var(--side-bar-size) - 16px); */
    width: 10%;
    height: 2px;
    background-color: var(--color-outline);
}

/* Definitions */
dl {
    page-break-inside: avoid !important;
}

dt {
    float: left;
    clear: left;
    width: var(--side-bar-size);
    margin-top: 0px;
}

dd {
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: var(--side-bar-size);
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

lite, date {
    color: rgb(126, 126, 126);
    font-size: 80%;
}

lite {
    padding-left: 6px;
}

date {
    text-align: right;
    line-height: 0.1em;
}

bar {
    font-size: 0.1em
}

sk, tk {
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

sk {
    background-color:#ecf4ff;
    color: #1f57b3;
}

tk {
    color:#ecf4ff;
    background-color: #1f57b3;
}

/* Blockquotes */
blockquote {
    border-left: 0px;
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: var(--color-outline);
}
a:hover, a:active {
    text-decoration: underline;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

ul {
    margin-bottom: 18px;
    margin-top: 0px;
    padding-left: 18px;
}

li {
    list-style-type: none;
    position: relative;    /* It is required for setting position to absolute in the next rule. */
    padding-top: 1px;
    padding-bottom: 1px;
}

li::before {
    content: '\2022';      /* Unicode for • character */
    position: absolute;
    left: -0.8em;          /* Adjust this value so that it appears where you want. */
    font-size: 1.1em;      /* Adjust this value so that it appears what size you want. */
}
